{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "targets": {
            "browsers": [
              "Chrome >= 91",
              "Firefox >= 90",
              "Safari >= 14",
              "Edge >= 91"
            ]
          },
          "modules": false,
          "useBuiltIns": "usage",
          "corejs": 3
        }
      }
    ]
  ]
}
